:root {
  --text-color: #eeeeee;
  --button-color: #fd7014;
  --background-color: #222831;
  --secondary-color: #393e46;
}
html {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 2.5rem;
}

hr {
  margin-top: -1.5rem;
}
.container {
  margin: 2rem auto;
  width: 350px;
  text-align: center;
  font-size: 1.4rem;
}

input {
  font-size: 0.9rem;
  width: 130px;
  text-align: left;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  border-radius: 30px;
}

.calculate,
.clear {
  font-size: 1.2rem;
  margin: 1.8rem 0.4rem 1.8rem 0.4rem;
  display: inline-block;
  width: 45%;
  padding: 10px 30px;
  border-radius: 30px;
  background-color: var(--button-color);
  color: var(--text-color);
  border-color: var(--text-color);
}
.clear {
  background-color: var(--secondary-color);
}

.output {
  margin: 1rem auto;
  /* padding: 2rem 0.8rem; */
  padding: 5rem 2rem 2rem 2rem;
  text-align: center;
  width: 280px;
  height: 140px;
  font-size: 1.8em;
  border-radius: 40px;
  color: var(--text-color);
}

.border {
  border: 1px dashed var(--text-color);
}

.borderProfit {
  box-shadow: inset 0px 0px 80px rgb(136, 255, 100),
    0px 0px 80px rgb(76, 216, 33);
}

.borderLoss {
  box-shadow: inset 0px 0px 80px rgb(255, 103, 103),
    0px 0px 80px rgba(255, 0, 0, 0.459);
}

.activeProfit {
  color: rgb(76, 216, 33);
}

.activeLoss {
  color: rgb(255, 0, 0);
}

@media screen and (min-width: 640px) {
  .container {
    display: inline-block;
    vertical-align: middle;
    margin: 3rem 5%;
    align-items: center;
    width: 50%;
    font-size: 1.7rem;
  }
  hr {
    width: 55%;
  }

  input {
    font-size: 1.1rem;
    width: 170px;
    text-align: left;
  }

  .calculate,
  .clear {
    font-size: 1.3rem;
    width: 42%;
  }

  .output {
    display: inline-block;
    vertical-align: middle;
    margin: auto 2%;
    height: 220px;
    width: 25%;
    padding: 6rem 2rem 0.5rem 2rem;
    font-size: 2rem;
  }
}

@media screen and (min-width: 850px) {
  .container {
    margin: 6rem 5%;
    width: 46%;
  }

  input {
    font-size: 1.2rem;
    width: 250px;
  }

  .calculate,
  .clear {
    font-size: 1.5rem;
    width: 36%;
  }

  .output {
    margin: auto 5%;
  }
}
